@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf');
  font-style: normal;
  font-weight: lighter;
}

:root{
  --background: #000;
  --foreground: #fff;

  --timeline-content-background: #000;
  --timeline-content-foreground: #000;
}

@media only screen and (max-width: 595px) {
  
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {

}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'montserrat';
  color: var(--foreground);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.heading-xl {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Poppins';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading-lg {
  font-size: 2rem;
  font-weight: bold;
  font-weight: 600;
}

.heading-md {
  font-size: 1.5rem;
  font-weight: bold;
}

.heading-sm {
  font-size: 1.25rem;
  font-weight: bold;
}

.text-xl {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-md {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xs {
  font-size: 0.75rem;
}

hr{
  border: none;
  border-bottom: 1px solid white;
  margin-block: 12px;
}

.btn{
  font-family: montserrat;
  font-weight: bolder !important;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: normal;
}

.btn-primary{
  background-color: rgb(255, 255, 255);
  color: #000;
}

.btn-primary:hover{
  cursor: pointer;
}